HotelReservationSystemJavaSeClient/xml-resources/web-service-references/HotelWebService/wsdl/localhost_8080/HotelWebService/HotelWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="HotelWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/HotelWebService/HotelWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveAvailableRoomTypes">
<part name="parameters" element="tns:retrieveAvailableRoomTypes"/>
</message>
<message name="retrieveAvailableRoomTypesResponse">
<part name="parameters" element="tns:retrieveAvailableRoomTypesResponse"/>
</message>
<message name="retrieveAvailableRoomsForDates">
<part name="parameters" element="tns:retrieveAvailableRoomsForDates"/>
</message>
<message name="retrieveAvailableRoomsForDatesResponse">
<part name="parameters" element="tns:retrieveAvailableRoomsForDatesResponse"/>
</message>
<message name="createReservationWithDates">
<part name="parameters" element="tns:createReservationWithDates"/>
</message>
<message name="createReservationWithDatesResponse">
<part name="parameters" element="tns:createReservationWithDatesResponse"/>
</message>
<message name="retrievePartnerReservations">
<part name="parameters" element="tns:retrievePartnerReservations"/>
</message>
<message name="retrievePartnerReservationsResponse">
<part name="parameters" element="tns:retrievePartnerReservationsResponse"/>
</message>
<message name="loginPartner">
<part name="parameters" element="tns:loginPartner"/>
</message>
<message name="loginPartnerResponse">
<part name="parameters" element="tns:loginPartnerResponse"/>
</message>
<message name="retrieveAllRooms">
<part name="parameters" element="tns:retrieveAllRooms"/>
</message>
<message name="retrieveAllRoomsResponse">
<part name="parameters" element="tns:retrieveAllRoomsResponse"/>
</message>
<message name="retrieveApplicableRate">
<part name="parameters" element="tns:retrieveApplicableRate"/>
</message>
<message name="retrieveApplicableRateResponse">
<part name="parameters" element="tns:retrieveApplicableRateResponse"/>
</message>
<message name="retrieveReservationById">
<part name="parameters" element="tns:retrieveReservationById"/>
</message>
<message name="retrieveReservationByIdResponse">
<part name="parameters" element="tns:retrieveReservationByIdResponse"/>
</message>
<message name="calculateRateForStay">
<part name="parameters" element="tns:calculateRateForStay"/>
</message>
<message name="calculateRateForStayResponse">
<part name="parameters" element="tns:calculateRateForStayResponse"/>
</message>
<portType name="HotelWebService">
<operation name="retrieveAvailableRoomTypes">
<input wsam:Action="http://ws.session.ejb/HotelWebService/retrieveAvailableRoomTypesRequest" message="tns:retrieveAvailableRoomTypes"/>
<output wsam:Action="http://ws.session.ejb/HotelWebService/retrieveAvailableRoomTypesResponse" message="tns:retrieveAvailableRoomTypesResponse"/>
</operation>
<operation name="retrieveAvailableRoomsForDates">
<input wsam:Action="http://ws.session.ejb/HotelWebService/retrieveAvailableRoomsForDatesRequest" message="tns:retrieveAvailableRoomsForDates"/>
<output wsam:Action="http://ws.session.ejb/HotelWebService/retrieveAvailableRoomsForDatesResponse" message="tns:retrieveAvailableRoomsForDatesResponse"/>
</operation>
<operation name="createReservationWithDates">
<input wsam:Action="http://ws.session.ejb/HotelWebService/createReservationWithDatesRequest" message="tns:createReservationWithDates"/>
<output wsam:Action="http://ws.session.ejb/HotelWebService/createReservationWithDatesResponse" message="tns:createReservationWithDatesResponse"/>
</operation>
<operation name="retrievePartnerReservations">
<input wsam:Action="http://ws.session.ejb/HotelWebService/retrievePartnerReservationsRequest" message="tns:retrievePartnerReservations"/>
<output wsam:Action="http://ws.session.ejb/HotelWebService/retrievePartnerReservationsResponse" message="tns:retrievePartnerReservationsResponse"/>
</operation>
<operation name="loginPartner">
<input wsam:Action="http://ws.session.ejb/HotelWebService/loginPartnerRequest" message="tns:loginPartner"/>
<output wsam:Action="http://ws.session.ejb/HotelWebService/loginPartnerResponse" message="tns:loginPartnerResponse"/>
</operation>
<operation name="retrieveAllRooms">
<input wsam:Action="http://ws.session.ejb/HotelWebService/retrieveAllRoomsRequest" message="tns:retrieveAllRooms"/>
<output wsam:Action="http://ws.session.ejb/HotelWebService/retrieveAllRoomsResponse" message="tns:retrieveAllRoomsResponse"/>
</operation>
<operation name="retrieveApplicableRate">
<input wsam:Action="http://ws.session.ejb/HotelWebService/retrieveApplicableRateRequest" message="tns:retrieveApplicableRate"/>
<output wsam:Action="http://ws.session.ejb/HotelWebService/retrieveApplicableRateResponse" message="tns:retrieveApplicableRateResponse"/>
</operation>
<operation name="retrieveReservationById">
<input wsam:Action="http://ws.session.ejb/HotelWebService/retrieveReservationByIdRequest" message="tns:retrieveReservationById"/>
<output wsam:Action="http://ws.session.ejb/HotelWebService/retrieveReservationByIdResponse" message="tns:retrieveReservationByIdResponse"/>
</operation>
<operation name="calculateRateForStay">
<input wsam:Action="http://ws.session.ejb/HotelWebService/calculateRateForStayRequest" message="tns:calculateRateForStay"/>
<output wsam:Action="http://ws.session.ejb/HotelWebService/calculateRateForStayResponse" message="tns:calculateRateForStayResponse"/>
</operation>
</portType>
<binding name="HotelWebServicePortBinding" type="tns:HotelWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveAvailableRoomTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAvailableRoomsForDates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createReservationWithDates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrievePartnerReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveApplicableRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveReservationById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateRateForStay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HotelWebService">
<port name="HotelWebServicePort" binding="tns:HotelWebServicePortBinding">
<soap:address location="http://localhost:8080/HotelWebService/HotelWebService"/>
</port>
</service>
</definitions>